<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.savoirfairelinux.caffey">

    <application>
        <uses-library android:name="com.google.android.things" />

        <activity
            android:name=".ui.MainActivity"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.IOT_LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.CoffeeDetailsActivity"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".ui.SugarLevelActivity"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".ui.BrewingActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.SummaryActivity"
            android:theme="@style/AppTheme" />
    </application>

</manifest>